body{
    display: flex;
    flex-direction: column;
}
/* this is the header */
.header-container{
    background-color: #1f2937;
    padding: 20px 100px 50px 100px;
    margin: 0%;
}
.page-title{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}
.secondary-text{
    font-size: 18px;
    color: #e5e7eb;
    
}
.logo{
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}
button{
    background-color: #3882f6;
    flex-grow: 0;
    width: 150px;
    height: fit-content;
    padding: 10px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    font-size: 18px;
}
a{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}
.header{
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}
.link{
    list-style-type: none;
    display: flex;
    gap: 10px;
    margin: 0%;
    padding: 0%;
}
image-header{
    width: auto;
    height: 250px;
    flex-shrink: 1;
    border-radius: 8px;
}
.header-bottom{
    display: flex;
    justify-content: space-between;
}
.header-left{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
/*this is the first part of the body */
.image-body{
    width: auto;
    height: 200px;
    border-radius: 8px;
    margin-bottom: 5px;
    background-color: aqua;
}
.information-header{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
    margin: 30px 0;
}
.random-information{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 40px;
    padding-bottom: 70px;
}
.info-container{
    max-width: 200px;
}
/* This is the second part of the body */
.quote-container{
    background-color: #e5e7eb;
    height: 300px;  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column  wrap;
    margin-top: 30px;
    gap: 10px;
    padding: 0px 150px;

}
.quote-text{
    font-size: 36px;
    font-style: italic;
    columns: #1f2937;
    max-width: fit-content;
}
.author{
    font-weight: 700;
    font-size: 20px;
    align-self: flex-end;
}
/* This is the third part of the body */
.third-body{
    background-color: #3882f6;
    margin: 100px 50px;
    display: flex;
    align-items: center;
    padding: 50px 100px;
    border-radius: 16px;
    /* max-width: 3000px; */
    align-self: center;
    gap: 150px;
    width: max-content;

}
.third-body button{
    border-color: rgb(255, 255, 255);

}
